  h1,
  h2,
  h4 {
    text-align: center;
  }

  header {
    height: 100px;
    width: 100%;
    background-color: darkgreen;
    text-align: right;
  }

  img {
    position: relative;
    left: 520px;
  }
